<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 main">
    <div class="field">
      <%= f.label :service_type %><br>
      <div class="select-style">
        <%= f.collection_select :service_type, Service::SERVICES, :to_s, :to_s, :include_blank => true, :id =>"service_type", :class =>"form_field" %>
      </div>
    </div>
    <div class="field">
      <%= f.label :service_name %><br>
      <%= f.text_field :service_name, :class => "form_field" %>
    </div>
    <div class="field">
      <%= f.label :cost %><br>
      <%= f.number_field :cost, :class => "form_field" %>
    </div>
    <div class="field">
      <%= f.label :time %> (in minutes)<br>
      <%= f.number_field :time, :class => "form_field" %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => "form_field"  %>
    </div>
    <div class="actions">
      <input type ="submit" name="commit" value="Save Service" class="admin-btn"/>
    </div>
  <% end %>
</div>
<div class="col-md-1">
</div>