<p id="notice"><%= notice %></p>

<div class="body facial">

   <div class="col-xs-12 col-sm-8 col-md-6 menu">
      <h1 id="title">Advanced Treatments</h1>
      <p>Put a twist to your monthly facials with the latest in skin rejuvenation. At Wax Me Boutique, we are proud to be on top of what's happening in the science of skin care! There’s a variety of skin rejuvenation options that can help you minimize the appearance of fine lines, wrinkles, dehydrated skin and sun damage. These treatments are safe, painless, non-invasive, yet effective and suitable for all skin types. We do believe that to correct damage and maintain results; a combination of treatments and at-home skin care will yield the best results. It is never too late to start a skin care regimen!</p>
    
      <div class="row" id="table-head">
            <div class="col-md-4">Service name</div>
            <div class="col-md-2">Cost</div>
            <div class="col-md-3">Time</div>
            <div class="col-md-3"></div>
      </div>
          
          <% @advanced_treatment.order("id asc").each do |service| %>
              <div class="row" id="table-row">
                  <div class="col-md-4" id="table-cell">
                    <%= service.service_name %>
                  </div>
                  <div class="col-md-2" id="table-cell">
                    $<%= service.cost %>
                  </div>
                  <div class="col-md-3" id="table-cell">
                    <%= service.time %> minutes
                  </div>
                  <div class="col-md-3" id="table-cell">
                   <button type="button" class="nav-btn" data-toggle="modal" data-target="#modal-<%= service.id %>">Details</button>
                  </div>
              </div>
              
                  <!-- Modal -->
                  <div id="modal-<%= service.id %>" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><%= service.service_name %></h4>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-2">
                              </div>
                              <div class="col-md-8 ">
                                <p class="show">
                                  <br>
                                  <strong>Cost:</strong>
                                  $<%= service.cost %>
                                </p>

                                <p class="show">
                                  <strong>Time:</strong>
                                  <%= service.time %> minutes
                                </p>

                                <p class="show">
                                  <strong>Description:</strong>
                                  <%= service.description %>
                                </p>
                              </div>
                              <div class="col-md-2">
                              </div>
                            </div>
                          </div>
                        <div class="modal-footer">
                          <button type="button" class="service-btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
                  
          <% end %>
        </div>
  </div>