<div class="admin">
  <p id="notice"><%= notice %></p>
  <div class="row" id="admin">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
      <br>
      <h1 id="admin">Manage Services</h1>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <button type="button" onclick="location.href='/services/new'" class="admin-btn add">Add a Service</button>
    </div>

  </div>
  <div class="col-xs-12 col-sm-10 col-md-8 main">
      <div class="row">
        <div class="col-md-1 th">
          Type
        </div>
        <div class="col-md-1 th">
          Name
        </div>
        <div class="col-md-1 th">
          Cost
        </div>
        <div class="col-md-1 th">
          Time
        </div>
        <div class="col-md-6 th">
          Description
        </div>
        <div class="col-md-2 th">
        </div>
      </div>

      <% @services.sort.each do |service| %>
      <div class="row">
          <div class="col-md-1 tb">
            <%= service.service_type %>
          </div>
          <div class="col-md-1 tb">
            <%= service.service_name %>
          </div>
          <div class="col-md-1 tb">
            $<%= service.cost %>
          </div>
          <div class="col-md-1 tb">
            <%= service.time %>
          </div>
          <div class="col-md-6 tb">
            <%= service.description %>
          </div>
          <div class="col-md-2 tb">
            <button type="button" onclick="location.href='/services/<%= service.id %>'" class="service-btn">View</button>
            <button type="button" onclick="location.href='/services/<%= service.id %>/edit'" class="service-btn">Edit</button>
            <%= link_to 'Remove', service, method: :delete, data: { confirm: 'Are you sure you want to remove this service?' } %>
          </div>
      </div>
      <div class="row list_spacer">
      </div>
      <% end %>
  </div>
</div>