<p id="notice"><%= notice %></p>

<div class="microblading">
   <div class="col-xs-12 col-sm-8 col-md-6 menu">
      <h1 id="title">Microblading</h1>
      This brow-feathering technique is the perfect option for those looking to give their brows the structure they can't grow naturally - or to get that extra fullness for that flawless look you're looking for.
      <br />
      While this is an exciting option, it's not for everybody. We recommend that if you've never been to our studio previously for brow services that you book in for Microblading consultation with Natalia. This appointment will give her a chance to have a look at your skin and brows, determine if you are a candidate for Microblading and go over any questions you may have.
      <br><br/>
      <strong>What is microblading?</strong><br />
        Microblading, or "brow feathering", is the manual process of implanting colour pigment beneath the surface of the skin by means of tiny, sterile, disposable needles to produce the appearance of hair strokes that enhance the natural features of your brows. We use a technique called "brow feathering". This technique allows us to create hair-like tattoo strokes that mimic natural hairs, creating defined and natural looking brows. It’s perfect for people who have over-plucked or those who want to define, fill or reshape their eyebrows. 
      <br><br/>
      <strong>Is microblading painful?</strong><br />
        Pain tolerance varies from person to person. A highly-effective, topical anesthetic cream is used for numbing before and during your procedure. Every effort is made to ensure you remain comfortable for the entirety of the procedure. We leave a topical anesthetic on the eyebrow area for 20 minutes before we begin the process, so this leaves most clients numb during the procedure. Having this service performed during your menstrual cycle may increase discomfort, as your skin can be hypersensitive. If you are a frequent smoker, the topical anesthetics used during the treatment will not last as long. Most clients have compared the procedure with eyebrow threading or a light scratching of the skin.
      <br><br/>
      <strong>How long does it take to heal?</strong><br />
        It takes about 2 weeks for the superficial layers of the skin to heal. Your brows will be fully healed after 6-8 weeks. The first 2-5 days your brows will look darker as they heal and scab over. Light peeling will start around days 4-6, which will reveal lighter and softer hair strokes. If this is your initial appointment, by the 6-8 week mark you will notice your brows have faded 30-40%, which is why a second appointment is necessary. With most procedures, the color looks dramatically lighter after the first week. Some clients prefer this, while others opt for a bolder look. If your brows do not heal perfectly after the first session, do not worry! We can always go darker and add more density at your next appointment. 
        <br><br/>
      <strong>How long will it last?</strong><br />
        Microblading procedures are considered semi-permanent and will not wash off, however, they will fade over time and need to be refreshed every 1-2 years. The timeline of sessions depends on a number of factors including the pigment color used (lighter colors fade faster), lifestyle (sun exposure) and if any chemical peels come into contact with treated areas. Please note that final results CAN NOT be guaranteed as each unique skin type will hold pigments differently and break down at different rates. Multiple sessions are normal for microblading procedures. Your second session MUST be booked within 6-8 weeks of the initial session. Both sessions are included in the initial procedure price. Additional sessions will be charged according to current pricing.
        <br><br/>
      <strong>Who Should Avoid Microblading?</strong><br />
        While microblading is great for most people, there are some people who are ineligible:
      <ol align="left">
        <li>1. Those prone to keloids or post-inflammatory hypopigmentation. Unfortunately, since microblading punctures the skin as we add ink, we cannot work with clients with these conditions.</li>
        <li>2. We do not perform microblading during pregnancy or while breastfeeding.</li>
        <li>3. If you have a transmittable blood disease such as HIV or Hepatitis. Again, microblading artists cut the skin so it is our policy not to work with these conditions.</li>
        <li>4. If you’ve had Juvederm or other fillers in that area. Depending on the timing, we recommend to get microblading first! Otherwise, check with your doctor. Many artists may request a note from your doctor first.</li>
        <li>5. Patients undergoing chemotherapy. Although microblading is great for restoring eyebrows, we would require a doctor’s note in order to perform the procedure for anyone undergoing chemotherapy.</li>
        <li>6. If you have any kind of skin condition on or near your eyebrows. This includes eczema, shingles, rashes, or anything else near eyebrows.</li>
        <li>7. Microblading is for adults only! We do not recommend microblading for anyone under the age of eighteen. </li>
        <li>8. Microblading is considered an invasive procedure; as a result you will not be able to donate blood for one year.</li>
      </ol>
      <strong>Corrective or existing tattoo work</strong><br />
        At this time Wax Me Boutique does not perform corrective work on existing tattoos.
      <br><br/>
      <strong>Microblading results are not guaranteed</strong><br />
        There are many factors that affect the healing process that we have no control over (i.e how you take care of your brow tattoo, how your skin heals and retains pigment, skin type etc.). There is absolutely no guarantee with healed results.
        <br />
        An additional touch-up is required within 6-8 weeks to achieve optimal healed results. As we use a feathering technique only, the use of brow cosmetics products may still be required to achieve your desired look.
      <br><br/>
      <strong>Pricing</strong><br />
      Eyebrow Microblading $500 (Prices are subject to change at any time).
      <br />
      1st Touch Up included (Must be booked 6-8 weeks from initial session)
      <table>
        <tr><td>6-month Touch Up</td><td>$150</td></tr>
        <tr><td>9-month Touch Up</td><td>$225</td></tr>
        <tr><td>12-month Touch Up</td><td>$300</td></tr>
        <tr><td>18-month Touch Up</td><td>$500</td></tr>
      </table>
      All clients will receive a complimentary touch up session 6-8 weeks after their initial session. Any longer than 8 weeks will be a $75 fee. After this time, it is up to each client as to when they would like to rebook for another touch up. Touch up rates are for Wax Me Boutique microblading clients only.
      <br />
      You're making an investment in your brows and one of the best things you can do is take the time to properly follow the pre & post procedure protocol to ensure you have optimal results. 
      <br><br/>
      <strong>Pre-Appointment Restrictions</strong><br />
        The following restrictions are to ensure your skin is in the best possible condition for an amazing Microblading procedure. Please read carefully:
        
        <li align="left">Please do not work out the day of the procedure as the body heat will expands the pores.</li>
        <li align="left">Avoid heavy sunlight and especially sunburn 3 days before procedure. Skin should not be in process of healing before procedure!</li>
        <li align="left">Do NOT drink coffee or anything with caffeine the day of procedure.</li>
        <li align="left">Do NOT take Aspirin, Niacin, Vitamin E and/or Ibuprofen, omega-3, unless medically necessary, 48-72 hours prior to the procedure. (Tylenol or acetaminophen is okay!)</li>
        <li align="left">Do NOT drink alcohol 24 hours before the procedure. </li>
        <li align="left">The following treatments should be avoided within four weeks of the procedure:
            <li>Botox or other fillers </li>
            <li>Chemical Peels</li>
            <li>Laser treatments</li>
        <li align="left">You MUST wait at least one year before considering this procedure if you have been on prescription Accutane.</li>
        </ol>
        <br />
        If you have any questions about these restrictions, please give us a call! We're happy to help.
      <br><br/>
      <strong>Post-Treatment</strong><br />
        Microblading post-care is very important to the appearance and longevity of your new eyebrows. Do not let any water, lotion, soap, or makeup touch your eyebrow area during the first 7 days after your procedure.
        <br />
        Immediately following your procedure, you will need to begin applying aftercare balm to your brows 1-2 times per day for the next week. Never let your brows feel tight or completely dry as hydration is key.
        <br />
        The following must be avoided during all 14 days post-microblading procedure:
          <li align="left">Increased sweating</li>
          <li align="left">Practicing sports</li>
          <li align="left">Swimming</li>
          <li align="left">Hot sauna, hot bath, or Jacuzzi</li>
          <li align="left">Sun tanning or salon tanning</li>
          <li align="left">UV/UVA Rays or chemicals as they have been known to cause a shift in color and premature fading</li>
          <li align="left">Any laser or chemical treatments or peelings, and/or any creams containing Retin-A or Glycolic acid on the face or neck</li>
          <li align="left">Picking, peeling, or scratching of the micro pigmented area in order to avoid scarring of the area or removal of the pigment</li>
          <li align="left">Performing tasks related to heavy household cleaning such as garage or basement cleaning where there is a lot of airborne debris</li>
          <li align="left">Drinking alcohol in excess, as it may lead to slow healing of wounds</li>
          <li align="left">Driving in open air vehicles such as convertibles, boats, bicycles, or motorcycles</li>
          <li align="left">Touching of the eyebrow area except for when rinsing and applying the post-care balm with a cotton swab</li>
        <br />
        Itching and flaking may appear during the first seven days post-microblading procedure.  However, experience has shown that by following these after-care instructions, these symptoms may quickly disappear. 
        <br><br/>
        If you have any unexpected problems with the healing of the skin, please contact Wax Me Boutique immediately, to discuss further instructions.
        <br><br/>
        Contact a physician if any signs or symptoms develop such as the following: fever, redness at the site, swelling, tenderness of the procedure site, elevated body temperature, red streaks going from the procedure site towards the heart, and/or any green/yellow discharge that is foul in odor.
      <br><br/>
      <strong>Cancellation Policy</strong><br />
        For all new appointments, we charge your card a $100 non-refundable deposit in order to hold your appointment. This amount will be debited immediately upon payment. You must pay the remaining balance during your scheduled appointment.
        <br><br/>
        There is no additional charge for complimentary touch up appointments.
        In the event you would like to reschedule your appointment, you may do so on this website or by giving us a call, any time up to 48 hours (2 days) before your scheduled appointment.
        <br><br/>
        Appointments occurring within the next 48 hours may not be rescheduled. If you need to cancel your appointment within 48 hours, your deposit will not be refunded.
        <br><br/>
        We ask that you please reschedule or cancel at least 2 days before the beginning of your appointment.
<% if false %>
    <% 
=begin %>  
<div class="row" id="table-head">
            <div class="col-md-4">Service name</div>
            <div class="col-md-2">Cost</div>
            <div class="col-md-3">Time</div>
            <div class="col-md-3"></div>
      </div>
          
          <% @microblading.order("id asc").each do |service| %>
              <div class="row" id="table-row">
                  <div class="col-md-4" id="table-cell">
                    <%= service.service_name %>
                  </div>
                  <div class="col-md-2" id="table-cell">`
                    $<%= service.cost %>
                  </div>
                  <div class="col-md-3" id="table-cell">
                    <%= service.time %>
                  </div>
                  <div class="col-md-3" id="table-cell">
                    <button type="button" class="nav-btn" data-toggle="modal" data-target="#modal-<%= service.id %>">Details</button>
                  </div>
              </div>

                <!-- Modal -->
                  <div id="modal-<%= service.id %>" class="modal fade active" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><%= service.service_name %></h4>
                        </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-2">
                              </div>
                              <div class="col-md-8 ">
                                <p class="show">
                                  <br>
                                  <strong>Cost:</strong>
                                  $<%= service.cost %>
                                </p>

                                <p class="show">
                                  <strong>Time:</strong>
                                  <%= service.time %> minutes
                                </p>

                                <p class="show">
                                  <strong>Description:</strong>
                                  <%= service.description %>
                                </p>
                              </div>
                              <div class="col-md-2">
                              </div>
                            </div>
                          </div>
                        <div class="modal-footer">
                          <button type="button" class="service-btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
          <% end %>
          <% 
=end %>
<% end %>
    </div>    
  </div>