<p id="notice"><%= notice %></p>

<div class="microblading">
   <div class="col-xs-12 col-sm-8 col-md-6 menu">
      <h1 id="title">Microblading</h1>
      <p>Microblading is a semi-permanent form of eyebrow enhancement. It is similar to makeup but the results last up to three years, rather than a lifetime. This is a great option for those that want their brows to be fuller while retaining a natural look. During microblading, a specialist will draw each individual lash with a removable pencil before retracing those with the actual semi-permanent color.</p>
    
      <div class="row" id="table-head">
            <div class="col-md-4">Service name</div>
            <div class="col-md-2">Cost</div>
            <div class="col-md-3">Time</div>
            <div class="col-md-3"></div>
      </div>
          
          <% @microblading.order("id asc").each do |service| %>
              <div class="row" id="table-row">
                  <div class="col-md-4" id="table-cell">
                    <%= service.service_name %>
                  </div>
                  <div class="col-md-2" id="table-cell">`
                    $<%= service.cost %>
                  </div>
                  <div class="col-md-3" id="table-cell">
                    <%= service.time %>
                  </div>
                  <div class="col-md-3" id="table-cell">
                    <button type="button" class="nav-btn" data-toggle="modal" data-target="#modal-<%= service.id %>">Details</button>
                  </div>
              </div>

                <!-- Modal -->
                  <div id="modal-<%= service.id %>" class="modal fade active" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><%= service.service_name %></h4>
                        </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-2">
                              </div>
                              <div class="col-md-8 ">
                                <p class="show">
                                  <br>
                                  <strong>Cost:</strong>
                                  $<%= service.cost %>
                                </p>

                                <p class="show">
                                  <strong>Time:</strong>
                                  <%= service.time %> minutes
                                </p>

                                <p class="show">
                                  <strong>Description:</strong>
                                  <%= service.description %>
                                </p>
                              </div>
                              <div class="col-md-2">
                              </div>
                            </div>
                          </div>
                        <div class="modal-footer">
                          <button type="button" class="service-btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
          <% end %>
    </div>    
  </div>