<p id="notice"><%= notice %></p>

<div class="microblading">
   <div class="col-xs-12 col-sm-8 col-md-6 menu">
      <h1 id="title">Microblading</h1>
      <p><strong>What is microblading?</strong>
        Microblading, or "brow feathering", is the manual process of implanting colour pigment beneath the surface of the skin by means of tiny, sterile, disposable needles to produce the appearance of hair strokes that enhance the natural features of your brows. We use a technique called "brow feathering". This technique allows us to create hair-like tattoo strokes that mimic natural hairs, creating defined and natural looking brows. It’s perfect for people who have over-plucked or those who want to define, fill or reshape their eyebrows.
      <br />
      <strong>Is microblading painful?</strong>
        Pain tolerance varies from person to person. A highly-effective, topical anesthetic cream is used for numbing before and during your procedure. Every effort is made to ensure you remain comfortable for the entirety of the procedure. We leave a topical anesthetic on the eyebrow area for 20 minutes before we begin the process, so this leaves most clients numb during the procedure.Having this service performed during your menstrual cycle may increase discomfort, as your skin can be hypersensitive. If you are a frequent smoker, the topical anesthetics used during the treatment will not last as long. Most clients have compared the procedure with eyebrow threading or a light scratching of the skin.
      <br />
    <strong>How long does it take to heal?</strong>
        It takes about 2 weeks for the superficial layers of the skin to heal. Your brows will be fully healed after 6-8 weeks. The first 2-5 days your brows will look darker as they heal and scab over. Light peeling will start around days 4-6, which will reveal lighter and softer hair strokes. If this is your initial appointment, by the 6-8 week mark you will notice your brows have faded 30-40%, which is why a second appointment is necessary. With most procedures, the color looks dramatically lighter after the first week. Some clients prefer this, while others opt for a bolder look. If your brows do not heal perfectly after the first session, do not worry! We can always go darker and add more density at your next appointment.
        <br />
      <strong>How long will it last?</strong>
        Microblading procedures are considered semi-permanent and will not wash off, however, they will fade over time and need to be refreshed every 1-2 years. The timeline of sessions depends on a number of factors including the pigment colour used (lighter colours fade faster), lifestyle (sun exposure) and if any chemical peels come into contact with treated areas. Please note that final results CAN NOT be guaranteed as each unique skin type will hold pigments differently and break down at different rates. Multiple sessions are normal for microblading procedures. Your second session MUST be booked within 6-8 weeks of the initial session. Both sessions are included in the initial procedure price. Additional sessions will be charged according to current pricing.
        <br />
      <strong>Who Should Avoid Microblading?</strong>
        While microblading is great for most people, there are some people who are ineligible for microblading:
        <ol align="left">
        <li>1. Those prone to keloids or post-inflammatory hypopigmentation. Unfortunately, since microblading punctures the skin as we add ink, we cannot work with clients with these conditions.</li>
        <li>2. We do not perform microblading during pregnancy or while breastfeeding.</li>
        <li>3. If you have a transmittable blood disease such as HIV or Hepatitis. Again, microblading artists cut the skin so it is our policy not to work with these conditions.</li>
        <li>4. If you’ve had Juvederm or other fillers in that area. Depending on the timing, we recommend to get microblading first! Otherwise, check with your doctor. Many artists may request a note from your doctor first.</li>
        <li>5. Patients undergoing chemotherapy. Although microblading is great for restoring eyebrows, we would require a doctor’s note in order to perform the procedure for anyone undergoing chemotherapy.</li>
        <li>6. If you have any kind of skin condition on or near your eyebrows. This includes eczema, shingles, rashes, or anything else near eyebrows.</li>
        <li>7. Microblading is for adults only! We do not recommend microblading for anyone under the age of 18. </li>
        <li>8. Microblading is considered an invasive procedure; as a result you will not be able to donate blood for one year.</li>
        </ol>
      </p>
    
    <% 
=begin %>  
<div class="row" id="table-head">
            <div class="col-md-4">Service name</div>
            <div class="col-md-2">Cost</div>
            <div class="col-md-3">Time</div>
            <div class="col-md-3"></div>
      </div>
          
          <% @microblading.order("id asc").each do |service| %>
              <div class="row" id="table-row">
                  <div class="col-md-4" id="table-cell">
                    <%= service.service_name %>
                  </div>
                  <div class="col-md-2" id="table-cell">`
                    $<%= service.cost %>
                  </div>
                  <div class="col-md-3" id="table-cell">
                    <%= service.time %>
                  </div>
                  <div class="col-md-3" id="table-cell">
                    <button type="button" class="nav-btn" data-toggle="modal" data-target="#modal-<%= service.id %>">Details</button>
                  </div>
              </div>

                <!-- Modal -->
                  <div id="modal-<%= service.id %>" class="modal fade active" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><%= service.service_name %></h4>
                        </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-2">
                              </div>
                              <div class="col-md-8 ">
                                <p class="show">
                                  <br>
                                  <strong>Cost:</strong>
                                  $<%= service.cost %>
                                </p>

                                <p class="show">
                                  <strong>Time:</strong>
                                  <%= service.time %> minutes
                                </p>

                                <p class="show">
                                  <strong>Description:</strong>
                                  <%= service.description %>
                                </p>
                              </div>
                              <div class="col-md-2">
                              </div>
                            </div>
                          </div>
                        <div class="modal-footer">
                          <button type="button" class="service-btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
          <% end %>
          <% 
=end %>
    </div>    
  </div>