<p id="notice"><%= notice %></p>

<div class="body facial">
  <div class="col-xs-12 col-sm-8 col-md-6 menu">
      <h1 id="title">Amazing Organic Facials and Eye Treatments</h1>
      <p>Éminence was voted Favorite Skin Care Line by Skin Care Professionals and #1 For Skin Care Results in the Natural and Organic Spa Industry.
 
      Éminence is the first skin care line to offer a complete collection made with Biodynamic® ingredients, the purest, most nutrient-rich Mother Nature has to offer. Biodynamic farming views the farm as a living organism: self-contained, self-sustaining, following the cycles of nature. To be certified, Biodynamic® products must contain at least 95% organic with up to 95% Biodynamic® ingredients.</p>
    
    
      <div class="row spacer">
      </div>
      <div class="row" id="table-head">
            <div class="col-md-4">Service name</div>
            <div class="col-md-2">Cost</div>
            <div class="col-md-3">Time</div>
            <div class="col-md-3"></div>
      </div>

      <!-- <div class="row" id="table-body"> -->
          
          <% @organic_facials.each do |service| %>
              <div class="row" id="table-row">
                  <div class="col-md-4">
                    <%= service.service_name %>
                  </div>
                  <div class="col-md-2">
                    $<%= service.cost %>
                  </div>
                  <div class="col-md-3">
                    <%= service.time %> minutes
                  </div>
                  <div class="col-md-3">
                   <button type="button" class="nav-btn" data-toggle="modal" data-target="#modal-<%= service.id %>">See Details</button>
                  </div>
              
                  <!-- Modal -->
                  <div id="modal-<%= service.id %>" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><%= service.service_name %></h4>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-2">
                              </div>
                              <div class="col-md-8 ">
                                <p class="show">
                                  <br>
                                  <strong>Cost:</strong>
                                  $<%= service.cost %>
                                </p>

                                <p class="show">
                                  <strong>Time:</strong>
                                  <%= service.time %> minutes
                                </p>

                                <p class="show">
                                  <strong>Description:</strong>
                                  <%= service.description %>
                                </p>
                              </div>
                              <div class="col-md-2">
                              </div>
                            </div>
                          </div>
                        <div class="modal-footer">
                          <button type="button" class="service-btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
                  
                </div>
          <% end %>
        </div>
  </div>