<p id="notice"><%= notice %></p>

<div class="body facial">
  <div class="col-xs-12 col-sm-8 col-md-6 menu">
      <h1 id="title">Signature Facials</h1>
      <p>We customize all of our treatments based on your individual needs. At Wax Me Boutique, we believe in providing the best professional treatments that are safe and effective for the skin. Our products are free of parabens, animal by-products, propylene glycol, sodium lauryl sulfates, harmful colorants and fragrances, mineral oils, petroleum, and other harsh cosmetic chemicals.
      <br><br>
      The start to healthy skin is by having regular facials! We recommend getting facials every 2 - 4 weeks depending on your skin type, skin condition, age, skin goals, budget, etc. In order to get the most out of every treatment, discuss with your esthetician an ideal facial schedule and what skincare regimen to follow at home to maintain your skin in between appointments.
      <br><br>
      *Add-on NufACE red light therapy to any treatment to boost collagen and elastin production* $25
      *Add-on Ultrasonic Technology to any treatment to increase exfoliation and product penetration* $25
</p>
    
      <div class="row" id="table-head">
            <div class="col-md-4">Service name</div>
            <div class="col-md-2">Cost</div>
            <div class="col-md-3">Time</div>
            <div class="col-md-3"></div>
      </div>

      <!-- <div class="row" id="table-body"> -->
          
          <% @organic_facials.order("id asc").each do |service| %>
              <div class="row" id="table-row">
                  <div class="col-md-4" id="table-cell">
                    <%= service.service_name %>
                  </div>
                  <div class="col-md-2" id="table-cell">
                    $<%= service.cost %>
                  </div>
                  <div class="col-md-3" id="table-cell">
                    <%= service.time %> minutes
                  </div>
                  <div class="col-md-3" id="table-cell">
                   <button type="button" class="nav-btn" data-toggle="modal" data-target="#modal-<%= service.id %>">Details</button>
                  </div>
              </div>
              
                  <!-- Modal -->
                  <div id="modal-<%= service.id %>" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><%= service.service_name %></h4>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-2">
                              </div>
                              <div class="col-md-8 ">
                                <p class="show">
                                  <br>
                                  <strong>Cost:</strong>
                                  $<%= service.cost %>
                                </p>

                                <p class="show">
                                  <strong>Time:</strong>
                                  <%= service.time %> minutes
                                </p>

                                <p class="show">
                                  <strong>Description:</strong>
                                  <%= service.description %>
                                </p>
                              </div>
                              <div class="col-md-2">
                              </div>
                            </div>
                          </div>
                        <div class="modal-footer">
                          <button type="button" class="service-btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
                  
          <% end %>
        </div>
  </div>