<p id="notice"><%= notice %></p>

<body>
<!--   <div class="row spacer">
  </div> -->
  <div class="row">
   <div class="col-md-1">
   </div>
   <div class="col-md-4">
   </div>
   <div class="col-md-6 menu">
      <h1 id="title">Spray Tan</h1>
      <p>For our spray tans, we quickly apply a fine mist containing dihydroxyacetone (DHA) using a spray gun created for sunless tanning. DHA is a food-derived ingredient, which has been approved by the FDA for external cosmetics applications and it's considered non-toxic and non-carcinogenic.
 
      When the solution is applied, it reacts with the amino acids in the outer layer of the skin cells, producing a natural-looking tan. The effect of DHA usually appears within an hour of application of the solution. Maximum color results may take anywhere from 6-8 hours to develop.</p>
    
      <div class="row spacer">
      </div>
      <div class="row" id="table-head">
            <div class="col-md-4">Service name</div>
            <div class="col-md-2">Cost</div>
            <div class="col-md-3">Time</div>
            <div class="col-md-3"></div>
      </div>

      <!-- <div class="row" id="table-body"> -->
          
          <% @tan_services.each do |service| %>
              <div class="row" id="table-row">
                  <div class="col-md-4">
                    <%= service.service_name %>
                  </div>
                  <div class="col-md-2">
                    $<%= service.cost %>
                  </div>
                  <div class="col-md-3">
                    <%= service.time %> minutes
                  </div>
                 <div class="col-md-3">
                  <%= link_to 'See Details', service %>
                </div>
              </div>
          <% end %>
        
      <div class="row spacer">
      </div>
    </div>
    <div class="col-md-1">
   </div>
  </div>
  <div class="row spacer">
  </div>
</body>