<p id="notice"><%= notice %></p>

<div class="spray_tan">
   <div class="col-xs-12 col-sm-8 col-md-6 menu">
      <h1 id="title">Spray Tan</h1>
      <p>The result will last about a week but varies with each individual depending on their personal skin renewal cycle. The application takes about 10 to 15 minutes and drying time of 5 minutes.</p>
       
      <ul class="spray-tan">
      <strong>Before your spray tanning session:</strong>
          <li>EXFOLIATE and WAX all areas to be tanned before each session. Pay special attention to your knees, ankles, feet, elbows, and knuckles.</li>
          <li>Getting rid of dead skin before tanning will extend the life of the tan. If you don’t exfoliate properly, the tan will start to flake off within 24 hours.</li>
          <li>No lotions, perfumes, body oils, make up, moisturizers, or sunscreens.</li>
          <li>Wear loose-fitting clothes, preferably dark colors.</li>
          <li>You may tan in the garment of your choice. Topless is fine as well as nude. Whatever you are comfortable with.</li>
      </ul>
      <ul class="spray-tan">
      <strong>After your spray tanning session:</strong>
          <li>Wait 6 to 8 hours before you shower. This will allow the solution to fully develop in the skin. The longer you wait to shower the better results.</li>
          <li>Moisturize the entire body, preferably twice a daily for at least one week.</li>
          <li>Avoid exfoliating the skin.</li>
          <li>Avoid long hot showers, hot tubs, and Jacuzzis. They speed up the exfoliation process.</li>
          <li>Avoid exercising immediately after your tanning session. Sweating will shorten life of your tan.</li>
          <li>Always apply sunscreen when exposed to the sun.</li>
      </ul>
    
      <div class="row spacer">
      </div>
      <div class="row" id="table-head">
            <div class="col-md-4">Service name</div>
            <div class="col-md-2">Cost</div>
            <div class="col-md-3">Time</div>
            <div class="col-md-3"></div>
      </div>

      <!-- <div class="row" id="table-body"> -->
          
          <% @tan_services.each do |service| %>
              <div class="row">
                  <div class="col-md-4" id="table-cell">
                    <%= service.service_name %>
                  </div>
                  <div class="col-md-2" id="table-cell">
                    $<%= service.cost %>
                  </div>
                  <div class="col-md-3" id="table-cell">
                    <%= service.time %> minutes
                  </div>
                  <div class="col-md-3">
                    <button type="button" class="nav-btn" data-toggle="modal" data-target="#modal-<%= service.id %>">See Details</button>
                  </div>

                <!-- Modal -->
                  <div id="modal-<%= service.id %>" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><%= service.service_name %></h4>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-2">
                              </div>
                              <div class="col-md-8 ">
                                <p class="show">
                                  <br>
                                  <strong>Cost:</strong>
                                  $<%= service.cost %>
                                </p>

                                <p class="show">
                                  <strong>Time:</strong>
                                  <%= service.time %> minutes
                                </p>

                                <p class="show">
                                  <strong>Description:</strong>
                                  <%= service.description %>
                                </p>
                              </div>
                              <div class="col-md-2">
                              </div>
                            </div>
                          </div>
                        <div class="modal-footer">
                          <button type="button" class="service-btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
              </div>
          <% end %>
    </div>    
  </div>